// Creacion de variables para almacenar los colores
$color-green: #009999;
$color-purple: #9a2d9b;
$color-text: #333;

// Se agrega la tipografia proporcionada con la notacion @font-face
@font-face {
    font-family: 'Lato';
    src: url('../Assets/Fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Black';
    src: url('../Assets/Fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Se incorpora la tipografia dentro de la etiqueta de body, asi como el color del texto principal
body{
    font-family: 'Lato';
    font-size: 1em;
    color: $color-text;
}

.navbar{
    // Se coloca el navbar de color transparente
    background-color: rgba(0,0,0,0);
    border-color: rgba(255,255,255,0);
    color: $color-text;

    // Se le indica que el navbar emplea un display flex, con todo el ancho de la pantalla disponible
    .navbar-header {
        display: flex; // Se establece la pantalla como flex
        width: 100%;
        justify-content: center;
        padding-bottom: 3%; // Para separar la imagen del contenido del nav
    }

    .container-order {
        display: flex;
        flex-wrap: wrap; // Para colocar los elementos de manera responsive
        justify-content: flex-end; // Se le indica que se posicione en la esquina derecha
        font-size: 1.1em;
        margin: 0 15% 0 15%; // Se le agrega un margen para visualizacion correcta, conforme el maquetado
    }

    .navbar-nav li {
        display: inline-flex;
        align-items: center;
        & + li:before {
          content: " | "; // Se agregan los componentes para separar cada uno de los elementos
          color: $color-green;
        }
        &:hover {
            font-family: 'Lato-Black'; // Si se hace hover en el elemento, se cambia la tipografia
        }
      }

      .navbar-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end; // Establecemos que el navbar se encuentra del lado derecho con flex-end
        padding-right: 10%; // Se coloca un padding para que no se junte a la ventana
      }
}

.contenedorPrincipal{
    display: flex;
    flex-wrap: wrap; // Los componentes se encuentran envueltos correctamente
    align-items: flex-start; // Para el contenedor principal, colocamos que comience en flex-start
}

.tarjetasPrincipales {
    display: inline-flex; // Empleamos el inline-flex para mencionar que es una sola linea
    flex-wrap: wrap;
    justify-content: flex-end; // Comienza en la parte final
    width: 65%;
    margin-right: 1%; // Agregamos un margen
    .background { // Clase para cambiar el color de la tarjeta
        box-sizing: border-box; // Se establece border box para evitar cualquier error entre el border y el outline
        border: 3px dotted white;
        outline: 10px solid $color-green; // Se agrega un outline y un border para evitar colocar dos elementos div, asignando el color para cada uno de ellos
        width: 25%; 
        height: auto;
        margin: 1.5%;
        border-radius: 1.5%;
        background: $color-green; // Color solicitado por el usuario
        &:hover { // Cuando se presione, el color de fondo, el sombreado y la tipografia cambian
            background: $color-purple;
            outline: 10px solid $color-purple;
            font-family: 'Lato-Black';
        }
            .separation { // Esta separacion representa un div con fondo blanco, donde se coloca la imagen y descripcion
                background-color: white;
                padding: 3%;
                border: 1vh solid $color-green; // Border de color verde
                &:hover {
                    border-color: $color-purple; // cambia el color al permanecer por encima del elemento
                }
                img{
                    width: 100%;
                    height: 70%;
                    padding: 0 10% 0 10%;
                    border-bottom: 3px dotted $color-green; // Se usa border-bottom unicamente para la parte inferior, definiendo el color y el tipo de linea
                    &:hover {
                        border-color: $color-purple; // Si se presiona mantiene por encima del elemento, cambia el color
                    }
                }
                p{
                    height: 30%;
                    margin: 2vh 0 2vh 0; // atributos respectivos para la etiqueta p
                    text-align: center;
                }
            }
    }
    .redesSociales { // Clase para los iconos de las redes sociales
        order: 2; // se coloca order 2 para que se coloquen primero las tarjetas principales
        width: 100%;
        text-align: right;
        .icons {
            background: $color-purple; // Se coloca el color de los iconos
            border-radius: 50%;
            align-content: flex-start;
            &:hover {
                background: $color-green; // En caso de hacer hover sobre el elemento, este cambia de color
            }
        }
    }
}

/*Se aplican propiedades similares que en las tarjetas principales, unicamente modificando algunos parametros como la direccion del flex*/
.tarjetasSecundarias {
    display: inline-flex;
    flex-flow: column wrap;
    width: 25%;
    justify-content: flex-start;
    .backgroundSec {
        box-sizing: border-box;
        border: 1px solid white;
        outline: 4px solid $color-purple;
        width: 40%;
        height: auto;
        margin: 1.5%;
        border-radius: 5%;
        background: $color-purple;
            .separationSec {
                background-color: white;
                padding: 3%;
                border: 0.5vh solid $color-purple;
                border-radius: 5%;
                img{
                    width: 100%;
                    height: 50%;
                    padding: 0 10% 0 10%;
                }
                p{
                    height: 30%;
                    margin: 1.5vh 0 1.5vh 0;
                    font-size: 0.8em;
                    text-align: center;
                }
            }
    }
}


.tarjetaOculta { // clase para la tarjeta oculta
    position: fixed; // Se fija la tarjeta de manera que no se mueva
    display: inline-flex;
    flex-flow: column wrap; // se aplican caracteristicas similares a las anteriores tarjetas
    width: 20%;
    justify-content: flex-end;
    .backgroundOcul {
        box-sizing: border-box;
        border: 1px solid white;
        outline: 4px solid $color-purple;
        width: 40%;
        height: auto;
        margin: 1.5%;
        border-radius: 5%;
        background: $color-purple;
            .separationOcul {
                background-color: white;
                padding: 3%;
                border: 0.5vh solid $color-purple;
                border-radius: 5%;
                img {
                    width: 100%;
                    height: 50%;
                    padding: 0 10% 0 10%;
                }
                p {
                    height: 30%;
                    margin: 1.5vh 0 1.5vh 0;
                    font-size: 0.8em;
                    text-align: center;
                }
            }
    }
}

.miniatura { // se crea la tarjeta indivifual
    position: fixed; // se fija
    width: 15%; // Mismo proceso que el anterior
    right: 5%;
    color: $color-purple;
    background: white;
    padding: 1%;
    border-radius: 5%;
    border: 4px solid $color-green;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    img {
        width: 100%;
        padding: 0 10% 0 10%;
    }
    p {
        height: 30%;
        margin: 2vh 0 2vh 0;
        text-align: center;
    }
}

/************************ Responsive ***************************/
@media screen and (max-width: 1367px) {
    .navbar .container-order {
        margin: 0 5% 0 5%;
        font-size: 1.5em;
        align-items: flex-start;
    }
    .miniatura {
        width: 10%; // Se reduce de 15% a 10%
    }
    .tarjetasSecundarias {
        width: 15%; // Se reduce de 25% a 15%
        .backgroundSec {
            width: 70%; // Se aumenta de 40% a 70%
        }
    }
    .tarjetasPrincipales {
        width: 80%;
        padding: 0; // Se elimina el padding y se reduce el ancho
    }

    .miniatura {
        position: absolute; // Se cambia la position a absolute, para mantener el responsive
    }

    @media screen and (max-width: 1024px) {

        .navbar .container-order {
            margin: 0;
            font-size: 2em; // aumenta la tipografia para el navbar
        }

        .navbar .navbar-nav {
            padding-right: 5%; // Se refuce el padding para mejor visualizacion
          }

        .miniatura {
            display: none; // en dispositivos menores de 1024 px no se muestran las tarjetas secundarias ni las miniaturas
        }
        .tarjetasSecundarias {
            display: none;
        }
        .tarjetasPrincipales { // Ahora las tarjetas principales ocupan el 100% del ancho disponible
            width: 100%;
            padding: 0;
            justify-content: center; // Se centran los elementos
        }

        @media screen and (max-width: 750px) { // Se colocan 750 para mantener la responsividad
            .tarjetasPrincipales {
                .background {
                    padding: 0 0 0 0;
                    margin: 0 5% 10% 5%;
                    width: 90%;        
                        .separation {
                            display: inline-flex;
                            align-content: center;
                            img {
                                width: 55%;
                                padding: 0 0 0 0;
                                border: none;
                            }
                            p{
                                width: 100%;
                                font-size: 1.3em;
                                align-self: center;
                            }
                        }
                } 
            }
            .redesSociales {
                padding-top: 0;    
                .icons {
                    width: 2em; // aumenta el tamanio de los elementos y se coloca un margen en la parte derecha
                    margin-right: 1em;
                }
            }
        }
    }
}