// Creacion de variables para almacenar los colores
$color-green: #009999;
$color-purple: #9a2d9b;
$color-text: #333;

// Se agrega la tipografia proporcionada con la notacion @font-face
@font-face {
    font-family: 'Lato';
    src: url('../Assets/Fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Black';
    src: url('../Assets/Fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Se incorpora la tipografia dentro de la etiqueta de body, asi como el color del texto principal
body{
    font-family: 'Lato';
    font-size: 1em;
    color: $color-text;
}

.navbar{
    // Se coloca el navbar de color transparente
    background-color: rgba(0,0,0,0);
    border-color: rgba(255,255,255,0);
    color: $color-text;

    // Se le indica que el navbar emplea un display flex, con todo el ancho de la pantalla disponible
    .navbar-header {
        display: flex; // Se establece la pantalla como flex
        width: 100%;
        justify-content: center;
        padding-bottom: 3%; // Para separar la imagen del contenido del nav
    }

    .container-order {
        display: flex;
        flex-wrap: wrap; // Para colocar los elementos de manera responsive
        justify-content: flex-end; // Se le indica que se posicione en la esquina derecha
        font-size: 1.1em;
        margin: 0 15% 0 15%; // Se le agrega un margen para visualizacion correcta, conforme el maquetado
    }

    .navbar-nav li {
        display: inline-flex;
        align-items: center;
        & + li:before {
          content: " | ";
          color: $color-green;
        }
        &:hover {
            font-family: 'Lato-Black';
        }
      }

      .navbar-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-right: 10%;
      }
}

.contenedorPrincipal{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.tarjetasPrincipales {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 65%;
    margin-right: 1%;
    .background {
        box-sizing: border-box;
        border: 3px dotted white;
        outline: 10px solid $color-green;
        width: 25%;
        height: auto;
        margin: 1.5%;
        border-radius: 1.5%;
        background: $color-green;
        &:hover {
            background: $color-purple;
            outline: 10px solid $color-purple;
            font-family: 'Lato-Black';
        }
            .separation {
                background-color: white;
                padding: 3%;
                border: 1vh solid $color-green;
                &:hover {
                    border-color: $color-purple; // color de fondo al pasar el cursor
                }
                img{
                    width: 100%;
                    height: 70%;
                    padding: 0 10% 0 10%;
                    border-bottom: 3px dotted $color-green;
                    &:hover {
                        border-color: $color-purple; // color de fondo al pasar el cursor
                    }
                }
                p{
                    height: 30%;
                    margin: 2vh 0 2vh 0;
                    text-align: center;
                }
            }
    }
    .redesSociales {
        order: 2;
        width: 100%;
        text-align: right;
        .icons {
            background: $color-purple;
            border-radius: 50%;
            align-content: flex-start;
            &:hover {
                background: $color-green;
            }
        }
    }
}

.tarjetasSecundarias {
    display: inline-flex;
    flex-flow: column wrap;
    width: 25%;
    justify-content: flex-start;
    .backgroundSec {
        box-sizing: border-box;
        border: 1px solid white;
        outline: 4px solid $color-purple;
        width: 40%;
        height: auto;
        margin: 1.5%;
        border-radius: 5%;
        background: $color-purple;
            .separationSec {
                background-color: white;
                padding: 3%;
                border: 0.5vh solid $color-purple;
                border-radius: 5%;
                img{
                    width: 100%;
                    height: 50%;
                    padding: 0 10% 0 10%;
                }
                p{
                    height: 30%;
                    margin: 1.5vh 0 1.5vh 0;
                    font-size: 0.8em;
                    text-align: center;
                }
            }
    }
}

.tarjetaOculta {
    position: fixed;
    display: inline-flex;
    flex-flow: column wrap;
    width: 20%;
    justify-content: flex-end;
    .backgroundOcul {
        box-sizing: border-box;
        border: 1px solid white;
        outline: 4px solid $color-purple;
        width: 40%;
        height: auto;
        margin: 1.5%;
        border-radius: 5%;
        background: $color-purple;
            .separationOcul {
                background-color: white;
                padding: 3%;
                border: 0.5vh solid $color-purple;
                border-radius: 5%;
                img {
                    width: 100%;
                    height: 50%;
                    padding: 0 10% 0 10%;
                }
                p {
                    height: 30%;
                    margin: 1.5vh 0 1.5vh 0;
                    font-size: 0.8em;
                    text-align: center;
                }
            }
    }
}

.miniatura {
    position: fixed;
    width: 15%;
    right: 5%;
    color: $color-purple;
    background: white;
    padding: 1%;
    border-radius: 5%;
    border: 4px solid $color-green;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    img {
        width: 100%;
        padding: 0 10% 0 10%;
    }
    p {
        height: 30%;
        margin: 2vh 0 2vh 0;
        text-align: center;
    }
}

/************************ Responsive ***************************/
@media screen and (max-width: 1367px) {
    .navbar .container-order {
        margin: 0 5% 0 5%;
        font-size: 1.5em;
        align-items: flex-start;
    }
    .miniatura {
        width: 10%; // Se reduce de 15% a 10%
    }
    .tarjetasSecundarias {
        width: 15%; // Se reduce de 25% a 15%
        .backgroundSec {
            width: 70%; // Se aumenta de 40% a 70%
        }
    }
    .tarjetasPrincipales {
        width: 80%;
        padding: 0;
    }

    .miniatura {
        position: absolute;
    }

    @media screen and (max-width: 1024px) {

        .navbar .container-order {
            margin: 0;
            font-size: 2em;
        }

        .navbar .navbar-nav {
            padding-right: 5%;
          }

        .miniatura {
            display: none;
        }
        .tarjetasSecundarias {
            display: none;
        }
        .tarjetasPrincipales {
            width: 100%;
            padding: 0;
            justify-content: center;
        }

        @media screen and (max-width: 750px) {
            .tarjetasPrincipales {
                .background {
                    padding: 0 0 0 0;
                    margin: 0 5% 10% 5%;
                    width: 90%;        
                        .separation {
                            display: inline-flex;
                            align-content: center;
                            img {
                                width: 55%;
                                padding: 0 0 0 0;
                                border: none;
                            }
                            p{
                                width: 100%;
                                font-size: 1.3em;
                                align-self: center;
                            }
                        }
                } 
            }
            .redesSociales {
                padding-top: 0;    
                .icons {
                    width: 2em;
                    margin-right: 1em;
                }
            }
        }
    }
}